@import '../assets/fonts/type.scss';
@import "./libs/mixins";
* {
  margin: 0;
  padding: 0;
  font-family: 'Futura New';
}

.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f0f1ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 2rem;
}

.App-link {
  color: #61dafb;
}

.contenedor-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  a {
    padding: 1rem;
    color: #f3a4a4;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

p {
  font-size: 0.6rem;
}
